TestApps/SoapServiceTest/Service References/TestServiceReference/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapAndRestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapAndRestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SimpleField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexType" nillable="true" type="tns:ComplexType" />
  <xs:complexType name="ArrayOfComplexType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplexType" nillable="true" type="tns:ComplexType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplexType" nillable="true" type="tns:ArrayOfComplexType" />
</xs:schema>