TestApps/SoapServiceTest/Service References/TestServiceReference/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63198/TestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63198/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63198/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapAndRestService" />
      <xsd:import schemaLocation="http://localhost:63198/TestService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_GetStringData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStringData" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetStringData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetComplexData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexData" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetComplexData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetSimpleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleList" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetSimpleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleListResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetListOfComplexData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfComplexData" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetListOfComplexData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfComplexDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="GetStringData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetStringData" message="tns:ITestService_GetStringData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetStringDataResponse" message="tns:ITestService_GetStringData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComplexData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetComplexData" message="tns:ITestService_GetComplexData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetComplexDataResponse" message="tns:ITestService_GetComplexData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimpleList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetSimpleList" message="tns:ITestService_GetSimpleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetSimpleListResponse" message="tns:ITestService_GetSimpleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfComplexData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/GetListOfComplexData" message="tns:ITestService_GetListOfComplexData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/GetListOfComplexDataResponse" message="tns:ITestService_GetListOfComplexData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestService" type="tns:ITestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStringData">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetStringData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplexData">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetComplexData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimpleList">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetSimpleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfComplexData">
      <soap:operation soapAction="http://tempuri.org/ITestService/GetListOfComplexData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="BasicHttpBinding_ITestService" binding="tns:BasicHttpBinding_ITestService">
      <soap:address location="http://localhost:63198/TestService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>